//
//  FishLampOSX-TestApp-OSX-32-MRC.xcconfig
//  FishLampOSX
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "XcodeBuildSupportConfigs/TargetSettings/OSX-32-MRC.xcconfig"
#include "FishLampOSX-Tests/FishLampOSX-Tests-SharedTargetSettings.xcconfig"
